<div class="menu-options">
  <ul>
    <li>
      <ion-button expand="full" fill="clear">
        <ion-icon slot="start" name="filter-outline"></ion-icon>
        Ver filtro selecionado
      </ion-button>
    </li>
    <li>
      <ion-button expand="full" fill="clear">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Renomear prova
      </ion-button>
    </li>
    <li>
      <ion-button expand="full" fill="clear" class="item-start">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Excluir prova
      </ion-button>
    </li>
    <li class="created-at">
      <p>Criada em 17/10/2019</p>
    </li>
  </ul>
</div>